@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cyber-purple: #BE2EFF;
  --cyber-purple-light: #D27FFF;
  --cyber-darker: #0F0A1F;
  --neon-pink: #FF2E89;
}

@layer base {
  body {
    @apply bg-black text-white;
  }
}

.text-glow-pink {
  text-shadow: 0 0 10px var(--neon-pink);
} 